{% extends '_base.html' %}
{% load static %}
{% block title %}dashboard{% endblock %}
{% block body %}
    <div style="width: 100vw;height: 90vh;" class="d-flex align-items-center">
        <div style="width: 20%;height: 95%;border: 1px dashed skyblue" class="mx-4 shadow rounded">
            <div style="width: 100%;height:30%" class="d-flex align-items-center justify-content-center">
                <div style="width: 150px;height: 150px;background-image: url({{ user.profile_user.image.url }});background-size: cover;background-position: center"
                     class="rounded-circle border"></div>
            </div>
            <p class="text-center mt-4">{{ user.username }}</p>
            <p class="text-center">{{ user.email }}</p>
            <div style="width: 100%;height:30%"
                 class="d-flex align-items-center justify-content-center flex-column px-4">
                <a href="{% url 'accounts:user_profile' %}" class="btn btn-outline-primary">
                    {% if request.user.profile_user.complete %}Edit{% else %}Complete{% endif %} Account</a>
                {% if request.user.profile_user.complete %}
                    <a href="{% url 'user:user_profile' user.username %}" class="btn btn-outline-dark mt-2">Public
                        profile</a>
                    <div class="alert alert-success mt-4" role="alert">
                        Account is complete
                    </div>
                {% else %}
                    <div class="alert alert-danger mt-4" role="alert">
                        Account isn't complete
                    </div>
                {% endif %}
            </div>
        </div>
        <div style="width: 25%;height: 95%;border: 1px dashed skyblue;overflow: scroll"
             class="mx-4 shadow rounded text-center px-3">
            {% if request.user.profile_user.complete %}
                <h5 class="my-3">Your Skills</h5>
                <button type="button" class="btn btn-outline-primary mb-3"><i class="bi bi-plus" data-bs-toggle="modal"
                                                                              data-bs-target="#exampleModal"></i>
                </button>
                {% if user_skills %}
                    {% for s in user_skills %}
                        <a href="{% url 'skills:skill_info' s.id %}" style="text-decoration: none;">
                            <div class="alert alert-info text-dark" role="alert">
                                {{ s.title }}<a href="{% url 'skills:skill_delete' s.id %}"><i
                                    class="bi bi-trash ms-2 text-danger"></i></a>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <h6 style="margin-top: 80px">You dont have any skill yet !</h6>
                {% endif %}
            {% else %}
                <h5 class="my-3">Your Skills</h5>
                <div class="alert alert-warning" role="alert">
                    Please complete your account for add skill
                </div>
            {% endif %}
        </div>
        <div style="width: 45%;height: 95%;border: 1px dashed skyblue" class="mx-4 shadow rounded text-center px-4">
            <h5 class="my-3">Your Pending Requests</h5>
            {% for s in send_request %}
                <div class="alert alert-secondary row" role="alert">
                    <div class="col-4"><a href="{% url 'skills:skill_info' s.skill.id %}" style="text-decoration: none" class="text-dark">{{ s.skill.title }}</a></div>
                    <div class="col-3"><a href="{% url 'user:user_profile' s.skill.user.username %}" style="text-decoration: none" class="text-dark">{{ s.skill.user.profile_user.first_name }} {{ s.skill.user.profile_user.last_name }}</a></div>
                    <div class="col-2">pending</div>
                    <div class="col-3">{{ s.create.date }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <form class="modal-dialog" method="post" action="{% url 'skills:skills_add' %}">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Skill</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="form-floating">
                        <input name="title" type="text" class="form-control" id="floatingInputValue">
                        <label for="floatingInputValue">Title</label>
                    </form>
                    <select name="category" class="form-select my-4" aria-label="Default select example">
                        {% for c in all_category %}
                            <option value="{{ c.id }}">{{ c.name }}</option>
                        {% endfor %}
                    </select>
                    <select name="time" class="form-select my-4" aria-label="Default select example">
                        {% for t in all_times %}
                            <option value="{{ t.id }}">{{ t.time }}</option>
                        {% endfor %}
                    </select>
                    <div class="form-floating">
                        <textarea name="description" class="form-control" placeholder="Leave a comment here"
                                  id="floatingTextarea"></textarea>
                        <label for="floatingTextarea">Description</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}