{% extends '_base.html' %}
{% block title %}skill hub | {{ skill.id }}{% endblock %}
{% block body %}
    <div data-width="100vh" class="d-flex flex-column align-items-center">
        <div style="width: 50%" class="shadow border rounded mt-4 d-flex flex-column align-items-center">
            <h4 class="my-3"><a href=""></a>{{ skill.title }}</h4>
            <p>By:<img class="rounded-circle border ms-3 me-1" src="{{ skill.user.profile_user.image.url }}"
                       style="width: 30px;height: 30px"><a href="{% url 'user:user_profile' skill.user.username %}"
                                                           class="text-dark"
                                                           style="text-decoration: none">{{ skill.user.profile_user.first_name }} {{ skill.user.profile_user.last_name }}</a>
            </p>
            <p>{{ skill.category }} | {{ skill.user.profile_user.city }},{{ skill.user.profile_user.country }}</p>
            <p>{% if avg %}
                {{ avg }}
            {% else %}
                There are no rate yet !
            {% endif %}</p>
            <p>{{ skill.time }}</p>
            <div style="width: 80%;border: 1px dashed skyblue" class="rounded mb-4 p-4">{{ skill.description }}</div>
            {% if request.user.is_authenticated %}
                {% if skill.user !=  request.user %}
                    <p><a href="{% url 'skills:skill_favorite' skill.id %}" class="mb-3"><i
                            class="bi bi-star{% if request.user in info %}-fill{% endif %} text-warning"></i></a></p>
                    <form method="post" action="{% url 'request:request_add' skill.id %}" class="d-flex flex-column">
                        {% csrf_token %}
                        <input type="time" name="time" required>
                        <input required class="my-2" type="date" id="datemax" name="date"
                               min="20{% now 'y' %}-{% now 'm' %}-{% now 'd' %}"
                               max="20{% now 'y' %}-{{ next_month }}-{% now 'd' %}"><br><br>
                        <button type="submit" class="btn btn-outline-dark mb-4">Request</button>
                    </form>
                {% else %}
                    <a href="{% url 'skills:skill_delete' skill.id %}" class="btn btn-outline-dark mb-4"><i
                            class="bi bi-trash"></i></a>
                {% endif %}
            {% else %}
                <a href="{% url 'accounts:user_register' %}" class="btn btn-outline-dark mb-4">Login</a>
            {% endif %}
        </div>
    </div>
{% endblock %}